main {
  flex: 1; /* Takes up all available space within the body element */
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1; /* Takes up all available space within the main element */
}

.home-section {
  flex: 1; /* Takes up all available space within the main element */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  background-color: #ffffff;
}

/* Left Section */
.left-section {
  width: 500px;
  margin-right: 100px;
  padding: 50px 25px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.left-section h2 {
  color: #212427;
  margin-bottom: 15px;
}
.left-section p {
  color: #313131;
}

/* Pokemon Card or Right Section*/
.card {
  position: relative;
  height: 370px;
  width: 216px;
  margin: 25px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.pokemon-card {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.6);
  position: absolute;
  backface-visibility: hidden;
}

/* Pokemon Card Name, Image, Type */
.pokemon-card--front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(31, 31, 31), rgb(238, 129, 48));
  background-color: none;
  padding: 8px;
  /* Pokemon Image Section */
  /* Pokemon Information Section */
}
.pokemon-card--front .pokemon-image-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pokemon-card--front .pokemon-image-container .pokemon-img {
  height: 90%;
  margin-bottom: 2px;
}
.pokemon-card--front .pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemon-card--front .pokemon-info .pokemon-name {
  color: #212427;
  margin-bottom: 2px;
}
.pokemon-card--front .pokemon-info p {
  color: #313131;
  margin-bottom: 8px;
}

/* Pokemon Card Stats */
.pokemon-card--back {
  background-image: linear-gradient(rgb(31, 31, 31), rgb(238, 129, 48));
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
.pokemon-card--back h3 {
  color: #212427;
  margin-bottom: 5px;
}
.pokemon-card--back ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #313131;
}
.pokemon-card--back ul li {
  color: rgb(41, 41, 41);
  list-style-type: none;
}

/* Generate and Save Img Button  */
.btn-holder {
  text-align: center;
}
.btn-holder button {
  width: 100px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out; /* Animation */
}
.btn-holder button:hover {
  background-color: rgb(63, 63, 63);
}
.btn-holder #generate-input {
  text-align: center;
  font-size: 14px;
  width: 75px;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 3px;
}
.btn-holder #generate-input:focus {
  outline: 1px solid blue;
}

/* Pagination Section */
.pagination-section {
  display: block;
  min-height: 900px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  /* Previous and Next Button or (1, 2, 3...)  */
}
.pagination-section .pagination-cards {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(5, 266px);
  grid-template-rows: auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.pagination-section .pagination-btn {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.pagination-section .pagination-btn button {
  width: 100px;
  color: white;
  background-color: rgb(51, 51, 51);
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease; /* Animation */
  margin: 5px;
}
.pagination-section .pagination-btn button:hover {
  background-color: rgb(63, 63, 63);
}/*# sourceMappingURL=content.css.map */