$pokemonDefaultCardBgColor: #ee8130;
$pokemonDefaultCardBgImage: linear-gradient(
  rgb(31.37, 31.37, 31.37),
  rgb(238, 129, 48)
);
$pokemonDefaultCardBoxShadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.6);
$headerTextColor: #212427;
$primaryTextColor: #313131;
$disableText: #c2c2c2;
$lightBackground: #ffffff;

main {
  flex: 1; /* Takes up all available space within the body element */

  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;

  flex: 1; /* Takes up all available space within the main element */
}

.home-section {
  flex: 1; /* Takes up all available space within the main element */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  background-color: $lightBackground;
}

/* Left Section */
.left-section {
  width: 500px;
  margin-right: 100px;
  padding: 50px 25px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.6);
  h2 {
    color: $headerTextColor;
    margin-bottom: 15px;
  }
  p {
    color: $primaryTextColor;
  }
}

/* Pokemon Card or Right Section*/
.card {
  position: relative;
  height: 370px;
  width: 216px;
  margin: 25px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.pokemon-card {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: $pokemonDefaultCardBoxShadow;
  position: absolute;
  backface-visibility: hidden;
}

/* Pokemon Card Name, Image, Type */
.pokemon-card--front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: $pokemonDefaultCardBgImage;
  background-color: none;
  padding: 8px;
  /* Pokemon Image Section */
  .pokemon-image-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .pokemon-img {
      height: 90%;
      margin-bottom: 2px;
    }
  }
  /* Pokemon Information Section */
  .pokemon-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pokemon-name {
      color: $headerTextColor;
      margin-bottom: 2px;
    }
    p {
      color: $primaryTextColor;
      margin-bottom: 8px;
    }
  }
}

/* Pokemon Card Stats */
.pokemon-card--back {
  background-image: $pokemonDefaultCardBgImage;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    color: $headerTextColor;
    margin-bottom: 5px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primaryTextColor;
    li {
      color: rgb(41, 41, 41);
      list-style-type: none;
    }
  }
  transform: rotateY(180deg);
}

/* Generate and Save Img Button  */
.btn-holder {
  text-align: center;
  button {
    width: 100px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out; /* Animation */
  }
  button:hover {
    background-color: rgb(63, 63, 63);
  }
  #generate-input {
    text-align: center;
    font-size: 14px;
    width: 75px;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 3px;
  }
  #generate-input:focus {
    outline: 1px solid blue;
  }
}

/* Pagination Section */
.pagination-section {
  display: block;
  min-height: 900px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $lightBackground;
  .pagination-cards {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(5, 266px);
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  }
  /* Previous and Next Button or (1, 2, 3...)  */
  .pagination-btn {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    button {
      width: 100px;
      color: white;
      background-color: rgb(51, 51, 51);
      border: none;
      border-radius: 3px;
      padding: 8px 15px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      transition: all 0.1s ease; /* Animation */
      margin: 5px;
    }
    button:hover {
      background-color: rgb(63, 63, 63);
    }
  }
}
