* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Warp", cursive;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}
