.home-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}

/* Left Section */
.left-section {
  width: 500px;
  margin-right: 100px;
  padding: 50px 25px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.left-section h2 {
  margin-bottom: 5px;
}

/* Pokemon Card or Right Section*/
.card {
  position: relative;
  height: 370px;
  width: 216px;
  margin: 25px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.pokemon-card {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.6);
  position: absolute;
  backface-visibility: hidden;
}

/* Pokemon Card Name, Image, Type */
.pokemon-card--front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(51, 51, 51), rgb(238, 129, 48));
  background-color: none;
  padding: 8px;
  /* Pokemon Image Section */
  /* Pokemon Information Section */
}
.pokemon-card--front .pokemon-image-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pokemon-card--front .pokemon-image-container .pokemon-img {
  height: 90%;
  margin-bottom: 2px;
}
.pokemon-card--front .pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemon-card--front .pokemon-info .pokemon-name {
  margin-bottom: 2px;
}
.pokemon-card--front .pokemon-info p {
  margin-bottom: 8px;
}

/* Spinner container */
.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Pokemon Card Stats */
.pokemon-card--back {
  background-image: linear-gradient(rgb(51, 51, 51), rgb(238, 129, 48));
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
.pokemon-card--back h3 {
  margin-bottom: 5px;
}
.pokemon-card--back ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-card--back ul li {
  color: rgb(41, 41, 41);
  list-style-type: none;
}

/* Spinner animation */
.spinner::before {
  content: "";
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 3px solid rgba(255, 255, 255, 0.7); /* Spinner color */
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Generate and Save Img Button  */
.btn-holder {
  text-align: center;
}
.btn-holder button {
  width: 100px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out; /* Animation */
}
.btn-holder button:hover {
  background-color: rgb(63, 63, 63);
}
.btn-holder #generate-input {
  text-align: center;
  font-size: 14px;
  width: 75px;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 3px;
}
.btn-holder #generate-input:focus {
  outline: 1px solid blue;
}

/* About Section */
.about-section {
  display: block;
  text-align: center;
  margin: 50px 150px;
  padding: 50px 25px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.about-section h2,
.about-section p {
  margin-bottom: 5px;
}
.about-section a {
  color: gray;
}

/* About Section */
.pagination-section {
  display: block;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.pagination-section .pagination-cards {
  display: grid;
  grid-template-columns: repeat(5, 266px);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 166, 0, 0.486);
}
.pagination-section .pagination-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.pagination-section .pagination-btn button {
  width: 100px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out; /* Animation */
  margin: 5px;
}
.pagination-section .pagination-btn button:hover {
  background-color: rgb(63, 63, 63);
}

/* Footer Section */
footer {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  margin-top: auto;
}
footer p:hover {
  text-decoration: underline;
}/*# sourceMappingURL=Main.css.map */